export(InitialTransform, Circle, diagonal, DimensionLabels, Factor2Binary, GetBiplotScales, ginv, InBox, matrixsqrt, 
       matrixsqrtinv, ones, PCA.Biplot, HJ.Biplot, PlotBiplotClusters, textsmart, VarBiplot, CrissCross, wcor,LogFrequencyBiplot, 
       ConcEllipse,plot.ellipse, Fraction, plot.fraction, InBox, dlines, matrixsqrt, matrixsqrtinv, MGC, DensityBiplot, plot.MGC, summary.MGC, print.MGC,
       CA, CanonicalBiplot, CCA, CumSum, GetCCAScales, plot.CA.sol, plot.Canonical.Biplot, AddCluster2Biplot,
       plot.CCA.sol, scores.CCA.sol, summary.Canonical.Biplot, summary.CCA.sol, wa, weighted.quantile, zeros,
       BinaryProximities, BinaryDistances, CheckBinaryMatrix, CheckBinaryVector,ContinuousDistances, Dataframe2BinaryMatrix, Factor2Binary, GeneralizedProcrustes, 
       GowerProximities, GowerSimilarities, Integer2Binary, Numeric2Binary, PrincipalCoordinates, plot.Principal.Coordinates, plot.Procrustes, 
       SimpleProcrustes, BootstrapDistance, BootstrapScalar, plot.PCoABootstrap, summary.Principal.Coordinates, textsmart, 
       WeightedPCoA, RidgeBinaryLogistic, RidgeBinaryLogisticFit, ExternalBinaryLogisticBiplot, plot.External.Binary.Logistic.Biplot, RemoveRowsWithNaNs, 
       ExtractTable, ExpandTable, Matrix2Proximities, EuclideanDistance, SMACOF, MDS, Dhats, BootstrapSmacof, MonotoneRegression, NominalDistances,
       Convert2ThreeWay, Three2TwoWay, TransformIni, StatisBiplot, ExpandTable, Hermquad, Multiquad,
       OrdLogBipEM, OrthogonalizeScores, plot.Ordinal.Logistic.Biplot, OrdVarBiplot, ConvertFactors2Integers, CategoricalProximities, CategoricalDistances, logit,
       Convert2ThreeWay, MultiTableStatistics, MultiTableTransform, plot.Statis, SeparateVarTypes, AddSupVars2Biplot, AddContVars2Biplot,
       RidgeMultinomialLogisticRegression, RidgeMultinomialLogisticFit, DataFrame2Matrix4Regression, plot3dCanonicalBiplot, plot3d.ContinuousBiplot,
       RidgeOrdinalLogistic, OrdinalLogisticFit, PlotOrdinalResponses, OrdVarCoordinates, summary.ContinuousBiplot,
       PLSR, PLSRfit, PLSR1BinFit, Biplot.PLSR, Biplot.PLSR1BIN, summary.PLSR, plot.PLSR,
       PrettyTicks, NiceNumber, FA.Biplot, UpdateX, UpdateY, Genefold, Initial, Loss, Updatea, VarDisk, UpdateGAMMA,
       indexC1, ColMeans, UnfoldingSMACOF, dhatsunfol, UpdateUnfol, UpdateUnfolConstr, TransfUnfold, GetConstUnfoldScales, 
       Unfolding, DistUnfold, lsqisotonic, CanonicalDistanceAnalysis, plot.CanonicalDistanceAnalysis, SelectVarsAnova, ContinuousProximities, SymmetricContinuousDistances,
       plot.Supplementary.Variables, PlotBinaryVar, BinaryLogBiplotEM, CorrelationCircle, ScreePlot, UpdateMultBiplot, BinaryLogBiplotJoint, plot.Binary.Logistic.Biplot,
       BinaryLogBiplotMirt, ExpandCoord, CompressCoord, CanonicalStatisBiplot, summary.RidgeBinaryLogistic, print.RidgeBinaryLogistic,
       PCA.Bootstrap, ellipse, plot.PCA.Bootstrap, summary.PCA.Bootstrap, CalculateContributions, ColContributionPlot, PrinAxesFA,
       summary.PLSR1Bin, AddOrdVars2Biplot, AddBinVars2Biplot, plot.ContSupVarsBiplot, plot.Supplementary.Variables, plot.BinSupVarsBiplot, plot.OrdSupVarsBiplot,
       Orthog, GD.Biplot, JBiplotReg, grBiplotReg, JBiplotLASSO, grBiplotLASSO, JBiplotRegB, JBiplotRegA, grBiplotRegB, grBiplotRegA,
       BinaryLogBiplotGD, sigmoide, JLogBiplotReg, grLogBiplotReg, JLogBiplotLASSO, grLogBiplotLASSO, JLogBiplotRegB, JLogBiplotRegA,
       grLogBiplotRegB, grLogBiplotRegA, vec, Tuckals3, Coinertia, PathwiseCoordinateOptimization, LASSORegression, plot.LASSOReg, NIPALSPCA,
       Sparse.NIPALSPCA, NIPALS.Biplot, Truncated.NIPALSPCA, PCA.Analysis, plot.PCA.Analysis, plot.ContinuousBiplot, summary.PCA.Analysis,
       Canonical.Variate.Analysis, plot.CVA, summary.CVA, countsToCases, NormalityTests, Bartlett.Tests, BasicDescription, BoxPlotPanel,
        ConfidenceInterval, ErrorBarPlotPanel, Games_Howell, HistogramPanel, Kruskal.Wallis.Tests, Levene.Tests, NormalityTests, PostHocGraph)

import(scales, geometry, deldir, mirt, GPArotation, rgl, optimr)
importFrom(MASS, kde2d)
importFrom(MASS, lda)

importFrom(rgl, plot3d)
S3method(plot, ContinuousBiplot)
S3method(plot, Unfolding)
S3method(print, ContinuousBiplot)
S3method(plot, ellipse)
S3method(plot, fraction)
S3method(plot, MGC)
S3method(plot, PCA.Analysis)
S3method(plot, CVA)
S3method(summary, CVA)
S3method(plot, PLSR)
S3method(summary, PLSR)
S3method(summary, MGC)
S3method(summary, PCA.Analysis)
S3method(summary, Ordinal.Logistic.Biplot)
S3method(print, Ordinal.Logistic.Biplot)
S3method(plot, Ordinal.Logistic.Biplot)
S3method(plot, Binary.Logistic.Biplot)
S3method(plot, PCA.Bootstrap)
S3method(summary, PCA.Bootstrap)
S3method(summary, Binary.Logistic.Biplot)
S3method(print, MGC)
S3method(print, rmlr)  
S3method(print, CanonicalDistanceAnalysis)
S3method(plot, CanonicalDistanceAnalysis)  
S3method(plot, CA.sol)
S3method(plot, CCA.sol)
S3method(plot, Canonical.Biplot)
S3method(print, Canonical.Biplot)
S3method(summary, Canonical.Biplot)
S3method(summary, CCA.sol)
S3method(summary, rmlr)
S3method(summary, ContinuousBiplot)
S3method(summary, Principal.Coordinates)
S3method(plot, ContSupVarsBiplot)
S3method(plot, Principal.Coordinates)
S3method(print, Principal.Coordinates)
S3method(plot, Procrustes)
S3method(plot, External.Binary.Logistic.Biplot)
S3method(plot, PCoABootstrap)
S3method(plot, Statis)
S3method(summary, Statis)
S3method(plot3d, ContinuousBiplot)
S3method(plot, Unfolding)
S3method(print, RidgeBinaryLogistic)
S3method(summary, RidgeBinaryLogistic)
S3method(summary, PLSR1Bin) 
